.button{
    padding: 10px;
    margin: 20px;
    background: rgb(90, 226, 151);
    border: none;
    border-radius: 7px;
    box-shadow: 2px 2px rgb(230, 230, 230);
    font-size: 30px;
    color: rgb(243, 243, 243);
    font-weight: 600;
    cursor: pointer;
}

.span{
    display: flex;
    flex-direction: column;
    margin: 30px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 5px;
    box-sizing: border-box;
    color: rgb(43, 43, 43);
}

.span:hover {
    border-left: 5px solid red;
}